*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@keyframes anjali{
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.3);
    }
    55%{
        transform: translate(100px);
    }
    80%{
        transform: rotate(70deg) translate(100px);
    }
    100%{
        transform: scale(1);
    }
}

.container{
    background-color: rgb(0, 128, 98);
    color: white;
    width: 200px;
    height: 200px;
    padding: 5px;
    /* animation-name: anjali; */
    /* animation-duration: 10s; */
    /* animation-iteration-count: 3; */
    /* animation-iteration-count: infinite; */
    /* transition: transform 5s ease-in; */
    /* transition: transform 5s ease-out; */
    /* transition: transform 5s; */
}

/* .container:hover{ */
    /* transform: rotate(270deg); */
    /* transform: rotate(400deg) scale(1.2); */
    /* transform: scale(1.2); */
    /* transform: scale(.5); */
    /* transform: rotate(5turn); */
    /* transform: skewY(45deg); */
    /* transform: skew(-15deg); */
    /* transform: translate(50px ,50px); */
    /* transform: translate(0,50px); */
    /* transform: rotate(40deg) translate(500px); */
    /* transform: rotate(45deg); */

    /* 3d */
    /* transform:perspective(200px) translateZ(200px); */
    /* transform: perspective(200px) rotateX(60deg);
    transform: perspective(200px) rotateY(60deg); */


/* } */